<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.product.dao.ImagesMapper" >
  <resultMap id="BaseResultMap" type="com.product.model.Images" >
    <id column="i_id" property="iId" jdbcType="INTEGER" />
    <result column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="i_url" property="iUrl" jdbcType="VARCHAR" />
    <result column="i_description" property="iDescription" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select i_id, p_id,n_id,i_url,i_description from tb_images where i_id = #{iId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPagingWithPID" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select i_id, p_id,n_id,i_url,i_description from tb_images where p_id=#{param1} limit #{param2},#{param3}
  </select>
  
  <select id="selectByPagingWithNID" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select i_id, p_id,n_id,i_url,i_description from tb_images where n_id=#{param1} limit #{param2},#{param3}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_images where i_id = #{iId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.product.model.Images" >
    insert into tb_images
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="iId != null" >i_id,</if>
      <if test="pId != null" >p_id,</if>
      <if test="nId != null" >n_id,</if>
      <if test="iUrl != null" >i_url,</if>
      <if test="iDescription != null" >i_description,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="iId != null" >#{iId,jdbcType=INTEGER},</if>
      <if test="pId != null" > #{pId,jdbcType=INTEGER},</if>
      <if test="nId != null" > #{nId,jdbcType=INTEGER},</if>
      <if test="iUrl != null" >#{iUrl,jdbcType=VARCHAR},</if>
      <if test="iDescription != null" >#{iDescription,jdbcType=VARCHAR},</if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.product.model.Images" >
    update tb_images
    <set>
      <if test="pId != null" >p_id = #{pId,jdbcType=INTEGER}, </if>
      <if test="nId != null" >n_id = #{nId,jdbcType=INTEGER}, </if>
      <if test="iUrl != null" >i_url = #{iUrl,jdbcType=VARCHAR},</if>
      <if test="iDescription != null">i_description = #{iDescription,jdbcType=VARCHAR},</if>
    </set>
    where i_id = #{iId,jdbcType=INTEGER}
  </update>
  
</mapper>