<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.product.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.product.model.Product" >
    <id column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="s_id" property="sId" jdbcType="INTEGER" />
    <result column="p_title" property="pTitle" jdbcType="VARCHAR" />
    <result column="p_summary" property="pSummary" jdbcType="VARCHAR" />
    <result column="p_content" property="pContent" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="SubmenuResultMap" type="com.product.model.Submenu" >
    <id column="s_id" property="sId" jdbcType="INTEGER" />
    <result column="s_title" property="sTitle" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="ProductResultMap" type="com.product.model.Product" extends="BaseResultMap">
  	<association property="submenu" resultMap="SubmenuResultMap" javaType="com.product.model.Submenu"/>
    <collection property="images" javaType="list" ofType="com.product.model.Images" >
    	<id column="i_id" property="iId" jdbcType="INTEGER" />
    	<result column="i_url" property="iUrl" jdbcType="VARCHAR" />
    	<result column="i_description" property="iDescription" jdbcType="VARCHAR" />
    </collection>
    
  </resultMap>

  <select id="selectByPrimaryKey" resultMap="ProductResultMap" parameterType="java.lang.Integer" >
    select p.p_id, p.s_id,p_title, p_summary,p_content 
    from tb_product as p 
    where p.p_id = #{pId,jdbcType=INTEGER} 
  </select>
  
   <select id="productsBysId" resultMap="ProductResultMap" parameterType="java.lang.Integer" >
    select p.p_id, p.s_id,p_title, p_summary,p_content 
    from tb_product as p 
    where p.s_id = #{pId,jdbcType=INTEGER} 
  </select>
  
  <select id="selectCount" resultType="java.lang.Integer" >
    select count(p_id) from tb_product
  </select>
  
  <select id="selectByPaging" resultMap="ProductResultMap" parameterType="java.lang.Integer" >
    select p_id, p.s_id,p_title, p_summary,p_content,s.s_title 
	from tb_product as p,tb_submenu as s 
	where p.s_id=s.s_id order by p_id desc limit #{param1},#{param2}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_product where p_id = #{pId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.product.model.Product" >
    insert into tb_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pId != null" >p_id,</if>
      <if test="sId != null">s_id,</if>
      <if test="pTitle != null">p_title,</if>
      <if test="pSummary != null">p_summary,</if>
      <if test="pContent != null">p_content,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pId != null" >#{pId,jdbcType=INTEGER},</if>
      <if test="sId != null" >#{sId,jdbcType=INTEGER},</if>
      <if test="pTitle != null" >#{pTitle,jdbcType=VARCHAR},</if>
      <if test="pSummary != null" >#{pSummary,jdbcType=VARCHAR},</if>
      <if test="pContent != null" >#{pContent,jdbcType=VARCHAR},</if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.product.model.Product" >
    update tb_product
    <set>
      <if test="sId != null" > s_id = #{sId,jdbcType=INTEGER},</if>
      <if test="pTitle != null" > p_title = #{pTitle,jdbcType=VARCHAR},</if>
      <if test="pSummary != null" > p_summary = #{pSummary,jdbcType=VARCHAR},</if>
      <if test="pContent != null" >p_content = #{pContent,jdbcType=VARCHAR},</if>
    </set>
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
</mapper>